// Couleurs principales
$color-primary: #0071b8;
$color-secondary: #4fb3ff;
$color-danger: #e63946;
$color-dark: #1e293b;
$color-darkblue: #144f72;
$color-text: #222;
$color-white: #fff;
$color-white-soft: #f3f3f3;
$color-green: #186369;
$color-green-transparent: #186469cc; // 80% opacity
$color-yellow: #f3e9c7;
$color-yellow-transparent: #f3e9c799;
$color-bg-blue: #f1f8fc;
$color-grey: #a9a9a9;

// Espacements
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// Autres
$border-radius: 5px;
$border-radius-lg: 8px;
